# Introduction to programming

## insert image
![text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSjtQ7Zvjs2Iq9O-6u2l_yo_0BJuUJxSXQrEFYL0RRKS4Jq-pEv)

## insert site
.[site](https://www.google.com/url?sa=i&url=https%3A%2F%2Fmedium.com%2Ftowards-artificial-intelligence%2F50-python-3-tips-tricks-e5dbe05212d7&psig=AOvVaw2m3nnLQnTrOXTSroxigs5x&ust=1575433030097000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNipp6_QmOYCFQAAAAAdAAAAABAD)

### for creating ordered list
1. abc
2. efg
     1. a
     2. b
3. hij   
    1. c
    2. d

### for unordered list 
- abc
- def
  - a
  - b
- hij

### for bold and single italic text
**gitam**

In [6]:
print("hello world")

hello world

In [7]:
# variable creation
a=10
b=20
a+b

30

In [8]:
name= "gitam"
print("university:"+ name)

university:gitam

In [10]:
name=input("enter a name")
age=int(input("enter age"))
print("my name is:",name,"and my age is:",age)

enter a namecharishma
enter age20
my name is: charishma and my age is: 20

## take two inputs and do the following arithematic operations
### add,sub,multiplication,division

In [16]:
a=int(input("enter a:"))
b=int(input("enter b:"))
c=a+b
d=a-b
e=a*b
f=a/b
print("sum=",c)
print("difference=",d)
print("product=",e)
print("division=",f)

enter a:10
enter b:20
sum= 30
difference= -10
product= 200
division= 0.5

## fundamenal data types
1. int
2. float
3. complex(3+4j)
4. boolean
5. string

In [17]:
a=10
b=12.05
c=5+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [18]:
c = complex(3,4)
print(c)

(3+4j)

In [19]:
c1=3+5j
c2=6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)
print(c1/c2)

(9+12j)
(-3-2j)
(-17+51j)
(0.6235294117647059+0.10588235294117647j)

In [24]:
## boolean
a = 10
b = 20
a>b

False

In [25]:
s1 = "abc"
s2 = "xyz"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [29]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [32]:
a = 1234
print(len(str(a)))

4

# opeartors
1. arithematic operators------> +,-,*,%,//,**
2. logical operators-----> and,or,not
3. rational operators----> <,>,<=,>=,=,!=
4. membership operators----> in, not,in

In [1]:
n1=12
n2=21
print(n1+n2)
print(n2-n1)
print(n1*n2)
print(n1%n2)
print(n1/n2)
print(n1**n2)

33
9
252
12
0.5714285714285714
46005119909369701466112

## relational operators

In [3]:
print(n1==n2)
print(n1!=n2)
print(n1<n2)
print(n1>n2)

False
True
True
False

## logical operators

In [4]:
n1=20
print(n1>=10 and n1<=20)
print(n1>=10 or n1<=20)
print(not n1)

True
True
False

# problem on relational operators
## take two integers and do the following operations
### >,<,==,!=,<=,>=

In [6]:
a= input("enter a")
b= input("enter b")
print(a>b)
print(a<b)
print(a==b)
print(a<=b)
print(a>=b)

enter a10
enter b20
False
True
False
True
False

# problem on membership operators
## in--true if the values found in sequence
## not in--true if the values not found in sequence

In [7]:
f = [1,2,3,4]
print(1 in f)
print(5 in f)
print(6 not in f)

True
False
True

## conditional statements
1. if
2. else
3. elif
## syntax
#### if condition:
> statements<br>
> statements

## to check even or odd

In [8]:
n = int(input("enter a number"))
if n%2 == 0:
    print("even")
else:
    print("odd")

enter a number2
even

## to check given number is multiple of 3 and 5

In [9]:
n = int(input("enter a number"))
if n%3==0 and n%5==0:
    print("multiple of 3 and 5")
else:
    print("not multiple of 3 and 5")

enter a number15
multiple of 3 and 5

## check the given number is positive,negative or zero

In [14]:
n=int(input("enter a number"))
if n>0:
    print("positive")
elif n<0:
    print("negitave")
else:
    print("0")

enter a number0
0

## check if the year is leap year or not

In [22]:
n = int(input("enter a year"))
if n%400 == 0 or (n%100!=0 and n%4 == 0):
        print("leap year")
else:
        print("not leap year")

enter a year2100
not leap year

# loops
## 1. while loop
## 2. for loop

In [23]:
#print number from 1 to 10
n=int(input("enter the number"))
i=1
while i <= n:
    print(i,end=" ")
    i =i+1

enter the number10
1 2 3 4 5 6 7 8 9 10

In [24]:
#read a input N and output should be sum of even numbers from 1 to N
n=int(input("enter a number:"))
i=1
s=0
while i <= n:
    if i%2 == 0:
        s=s+i
    i=i+1
print(s)

enter a number:10
30