In [1]:
#basic list functions
li=[1,9,16,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)//len(li))

25
1
56
11

In [8]:
li=[1,9,16,25,5]
li.append(29) #adds value
li.insert(2,56) #adds value at 2 position with 56
li

[1, 9, 56, 16, 25, 5, 29]

In [9]:
li=[1,9,16,25,5]
li.count(9) #counts the no.of 9's

1

In [10]:
li=[1, 9, 56, 16, 25, 5, 29]
li.sort() #arranges in ascending order
li

[1, 5, 9, 16, 25, 29, 56]

In [12]:
li=[1,9,16,25,5]
li.pop() #removes last value
li

[1, 9, 16, 25]

In [13]:
li=[1,9,16,25,5]
li.pop(1) #removes value at position 1
li

[1, 16, 25, 5]

In [16]:
li1=[1,9,16,25,5]
li.extend(li1) #adds another list 
li

[1, 9, 16, 25, 5, 1, 9, 16, 25, 5, 1, 9, 16, 25, 5]

In [19]:
li=[1,9,16,25,5]
li.reverse() #reverses the order
li

[5, 25, 16, 9, 1]

In [23]:
def largenumber(li):
    li.sort()
    return li[-1]
def genriclarge(li,n):
    li.sort()
    return li[-n]
li=[1,9,16,25,5]
print(largenumber(li))
print(genriclarge(li,3))

25
9

In [25]:
def smallnumber(li):
    li.sort()
    return li[0]
def genricsmall(li,n):
    li.sort()
    return li[n-1]
li=[1,9,16,25,5]
print(smallnumber(li))
print(genricsmall(li,3))

1
9

### tuples
- parenthesis()--->tuple and square brackets[]---->list
- difference between tuples and list
   - list nare mutable - can be changed/modiied
   - used to acess and modify,add,delete data
   - tupples are immutable - cannot be changed 
   - used to access data only

In [27]:
t1 = (1,2,3,4,5,6)
t1
print(type(t1),t1[1:5])

<class 'tuple'> (2, 3, 4, 5)

### Dictionaries
1. it works on the concept of ser unique data
2. keys,values is the unique identifier for the value
3. each key is seperated from its value with colon(:)
4. each key and value is seperated with comma(,)
5. dictionaries are enhanced with curl braces({})

In [28]:
d1={"name":"gitam","email-id":"gitam@gmail.com","address":"hyderabad"}
d1

{'name': 'gitam', 'email-id': 'gitam@gmail.com', 'address': 'hyderabad'}

In [29]:
d1={"name":"gitam","email-id":"gitam@gmail.com","address":"hyderabad"}
d1["email-id"]="gitampyton@gmail.com"
d1

{'name': 'gitam', 'email-id': 'gitampyton@gmail.com', 'address': 'hyderabad'}

In [30]:
d1["email-id"]

'gitampyton@gmail.com'

In [31]:
d1["course"]="python"
d1

{'name': 'gitam',
 'email-id': 'gitampyton@gmail.com',
 'address': 'hyderabad',
 'course': 'python'}

In [32]:
del d1["email-id"]
d1

{'name': 'gitam', 'address': 'hyderabad', 'course': 'python'}

In [33]:
d1.keys()

dict_keys(['name', 'address', 'course'])

In [34]:
d1.values()

dict_values(['gitam', 'hyderabad', 'python'])

In [35]:
d1.items()

dict_items([('name', 'gitam'), ('address', 'hyderabad'), ('course', 'python')])

### strings
- strings
- string slicings
- fundamental programming with string in python

In [36]:
s1 = 'python'
print(s1)
print(type(s1))

python
<class 'str'>

In [37]:
s1='python'
print(s1[0])
print(s1[1])
print(s1[5])
print(s1[len(s1)-1])

p
y
n
n

In [38]:
s1='python'
print(s1[-1])
print(s1[-2])
print(s1[0:2])
print(s1[:2])
print(s1[-3:])
print(s1[2:])

n
o
py
py
hon
thon

In [39]:
print(s1[1:-1])
print(s1[len(s1)//2])
print(s1[-1::-1])
print(s1[-1:-3:-1])
print(s1[::2])
print(s1[::3])
print(s1[::-2])

ytho
h
nohtyp
no
pto
ph
nhy

In [47]:
def ispalindrom(str):
    if str==str[::-1]:
        return True
    else:
        return False
    return
print(ispalindrom('python'))
print(ispalindrom('madam'))

False
True

In [48]:
s1 ='python'
print(s1.upper())
print(s1.lower())

PYTHON
python

### string built in methods
1. upper()
2. lower()
### string boolean built in methods
3. islower()
4. isupper()
5. istitle()
6. isalpha()
7. isspace()

In [51]:
s1='python'
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isalpha())
print(s1.isspace())

False
True
False
True
False

In [53]:
s1='python'
print(s1.isnumeric())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isalpha())
print(s1.isspace())

False
False
True
False
True
False

## string methods
- join() --- method wil concatinates the two strings
- split()--- split() returna a list of strings separated by whitespace(no parameters)
- replace()--- replaces the specific word /characters with th enew word/character

In [54]:
s1="python"
print(" ".join(s1))

p y t h o n

In [55]:
s2="python programming is easy to learn"
print(s2.split())

['python', 'programming', 'is', 'easy', 'to', 'learn']

In [56]:
s2="pytho programming is easy to learn"
print(s2.split('a'))

['pytho progr', 'mming is e', 'sy to le', 'rn']

In [57]:
s2="pytho programming is easy to learn"
li=list(s2)
print(li)

['p', 'y', 't', 'h', 'o', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [58]:
s2="python programming is to learn"
print(s2.replace("gra","application"))

python proapplicationmming is to learn